<div class="">
  <div class="card">
  <div class="card-body">
    <h4 class="card-title"> {{museumName}} </h4>
    <p class="card-text"> {{museumAdress}} </p>
    <p class="card-text"> {{museumCity}} {{museumCp}} </p>
    <p><a href="{{museumPhone}}" class="card-text"> {{museumPhone}} </a></p>
    <p><a href="{{museumWeb}}" class="card-text"> {{museumWeb}} </a></p>
    <p class="card-text"> {{museumOpen}} </p>
    <a href="#" class="btn btn-primary" routerLink ="museumDetail">Go voir</a>
  </div>
</div>
</div>
